* {
    margin: 0;
    padding: 0;
}
body {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
button {
    width: 90px;
    height:30px ;
    margin: 20px;

}

h1{
    font-size: 70px;
    color: rgb(29, 12, 15);
}
